.full-width {
  width: 100%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.right-align {
  margin-left: auto;

  :first-child {
    margin-bottom: 5px;
    margin-right: 10px;
  }
}

.left-align {
  margin-right: auto;
}
